*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
/* nav-section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 68px;
    padding: 100px;
}
.nav_logo{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    align-items: center;
}
.logo_text{
    font-size: 34px;
    font-weight: bold;
}
ul{
    display: flex;
    gap: 40px;
}
li{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    list-style: none;
}
.nav_button button{
    border-radius: 14px;
    border: 1px solid #191A23;
    padding: 20px 35px; 
    background-color: white;
    color: #191A23;
}
/* hero-section */
.hero_section{
    max-width: 1440px;
    height: 515px;
    padding: 100px;
    display: flex;
}
.left_hero{
 display: flex;
 flex-direction: column;
 gap: 35px;
 width: 531px;
 height: 515px;


}
.hero_h1{
    font-size: 60px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    max-width: 531px;
    height: 231px;
}
.hero_para{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    max-width: 498px;
    height: 112px;
}
.hero_button{
    width: 264px;
    height: 68px;
    border-radius: 14px;
    padding: 20px 35px;
    background-color:#191A23;
    color: white;
    margin: 10px;
}
.right_hero{
}
.hero_image{
    width: 600px;
    height: 515px;
}
.company_logo{
    max-width: 1440px;
    height: 48px;
    padding: 100px;;
}
.logo_bar{
    display: flex;
    justify-content: space-between;
}