*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
/* nav-section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 68px;
    padding: 100px;
}
.nav_logo{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    align-items: center;
}
.logo_text{
    font-size: 34px;
    font-weight: bold;
}
ul{
    display: flex;
    gap: 40px;
}
li{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    list-style: none;
}
.nav_button button{
    border-radius: 14px;
    border: 1px solid #191A23;
    padding: 20px 35px; 
    background-color: white;
    color: #191A23;
}