*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
/* nav-section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 68px;
    padding: 100px;
}
.nav_logo{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    align-items: center;
}
.logo_text{
    font-size: 34px;
    font-weight: bold;
}
ul{
    display: flex;
    gap: 40px;
}
li{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    list-style: none;
}
.nav_button button{
    border-radius: 14px;
    border: 1px solid #191A23;
    padding: 20px 35px; 
    background-color: white;
    color: #191A23;
}
/* resonsive_navbar */
@media (max-width: 768px){
    .navbar{
     display: flex;
     flex-direction: column;
     align-items: center;
    }
    .li{
        margin: 8px 0;
    }
    .nav_button button{
        margin-top: 10px;
        text-align: center;
    }
}
/* hero-section */
.hero_section{
    max-width: 1440px;
    height: 515px;
    padding: 100px;
    display: flex;
}
.left_hero{
 display: flex;
 flex-direction: column;
 gap: 35px;
 width: 531px;
 height: 515px;


}
.hero_h1{
    font-size: 60px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    max-width: 531px;
    height: 231px;
}
.hero_para{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    max-width: 498px;
    height: 112px;
}
.hero_button{
    width: 264px;
    height: 68px;
    border-radius: 14px;
    padding: 20px 35px;
    background-color:#191A23;
    color: white;
    margin: 10px;
}
.right_hero{
}
.hero_image{
    width: 600px;
    height: 515px;
}
@media (max-width: 768px){
    .hero_section{
        flex-wrap: wrap;
    }
}
/* company_logo_section */
.company_logo{
    max-width: 1440px;
    height: 48px;
    padding: 100px;
    margin-top: 50px;
}
.logo_bar{
    display: flex;
    justify-content: space-between;
}
@media(max-width : 768px){
    .company_logo{
        margin-top: 600px;
    }
    .logo_bar{
        flex-wrap: wrap;
        gap: 20px;
    }
}
/* service_section */
.service_container{
    max-width: 1440px;
    padding: 100px;
    height: 51px;
}
.service_section{
    display: flex;
    gap: 40px;
}
.first_service{
    background-color: #b9ff66;
    color: black;
}
.second_service{
    max-width: 580px;
    height: 46px;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}
/* grid_section */
.grid_container{
    max-width: 1440px;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.card{
    width: 600px;
    height: 310px;
    border-radius: 45px;
    background-color: #f3f3f3;
    border: 1px solid #191a23;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.card:hover{
    transform: translateX(-5px);
}
.first_card{
    display: flex;
    flex-direction: column;
    gap: 93px;
}
.arrow_grid{
    display: flex;
    align-items: center;
    gap: 15px;
}
.arrow{
    background-color: #191A23;
    border-radius: 50%;
    color: #b9ff66;
    transform: rotate(30deg);
    font-size: 30px;
}
.arrow_text{
    font-size: 20px;
    font-weight: 400;
    line-height: 28%;
    letter-spacing: 0%;
}
.card2{
    width: 600px;
    height: 310px;
    border-radius: 45px;
    background-color: #b9ff66;
    border: 1px solid #191a23;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.card2:hover{
    transform: translateX(-5px);
}
.card3{
    width: 600px;
    height: 310px;
    border-radius: 45px;
    background-color: #191A23;
    border: 1px solid #191a23;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.card3:hover{
    transform: translateX(-5px);
}
.grid_h1{
    background-color: #b9ff66;
}
.grid_heading{
    background-color: #f3f3f3;
}
.arrow3{
    background-color: #f3f3f3;
    border-radius: 50%;
    color: #b9ff66;
    transform: rotate(30deg);
    font-size: 30px;
}
.arrow_text3{
    color: #f3f3f3;
    font-size: 20px;
    font-weight: 400;
    line-height: 28%;
    letter-spacing: 0%;
}
@media (max-width:768px){
    .grid_container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
    }
}
/* .div_section */
.div_container{
    max-width: 1440px;
    height: 394px;
    padding: 100px;
}
.div_card{
    max-width: 1240px;
    height: 347px;
    border-radius: 45px;
    padding: 60px;
    display: flex;
    background-color: #f3f3f3;
}
.first_div{
    max-width: 500px;
    height: 227px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.div_h3{
    font-size: 30px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}
.div_para{
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}
.div_button{
    width: 288px;
    height: 68px;
    border-radius: 14px;
    padding: 20px 35px;
    background-color: #191A23;
    color: #f3f3f3;
    font-size: 20px;
    font-weight: 400;
    line-height: 28%;
    letter-spacing: 0%;
}
.second_div{
position: relative;
}
.div_image{
    position: absolute;
    left: 180px;
    top: -85px;
}
/* cards_container */
.cards_container{
    max-width: 1440px;
    padding: 100px;
    height: 326px;
}
.three_card{
    width: 1234px;
    height: 326px;
    border-radius: 45px;
    padding: 70px 60px;
    background-color: #191A23;
    display: flex;
}
.f_card_para{
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #f3f3f3;
}
.f_card{
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 286px;
    height: 163px;
    border-right: 1px solid white;
}
.learn_more{
    display: flex;
    align-items: center;
    gap: 10px;
}
.learn_text{
    font-size: 18px;
    font-weight: 400;
    line-height: 28%;
    letter-spacing: 0%;
    color: #b9ff66;
}
.learn_arrow{
    color: #b9ff66;
    font-size: 20px;
    font-weight: 400;
    transform: rotate(30deg);
}
.s_card{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 286px;
    height: 163px;
    border-right: 1px solid white;
}
.t_card{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 286px;
    height: 163px;
    border-right: 1px solid white;
}
/* work_section */
.work_container{
    margin-top: 50px;
    max-width: 1440px;
    padding: 100px;
    height: 51px;
    margin-top: 100px;
}
.work_section{
    display: flex;
    gap: 40px;
}
.first_work{
    background-color: #b9ff66;
    color: black;
}
.second_work{
    max-width: 580px;
    height: 46px;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}
/* data_section */
.data_container{
    max-width: 1440px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.data1{
    max-width: 1234px;
    height: 279px;
    border-radius: 45px;
    border: 1px solid #191A23;
    padding: 41px 60px;
    background-color: #b9ff66;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.consultation_div{
    max-width: 1117px;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.consultation_num{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 60px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}
.consultation_h1{
    font-size: 30px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}
.minus{
    width: 58px;
    height: 58px;
    background-color: #f3f3f3;
    color: #191A23;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #191A23;
}
.consultation_p{
    width: 1114px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}
hr{
    border: 1px solid #191A23;
}
.data2{
    max-width: 1234px;
    height: 159px;
    border-radius: 45px;
    border: 1px solid #191A23;
    padding: 41px 60px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* team_section */
.team_service{
    max-width: 1440px;
    height: 51px;
    padding: 100px;
}
.team_div{
    display: flex;
    gap: 40px;
}
.team_h1{
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #b9ff66;
}
.team_para{
    width: 473px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
}
/* banners sections */
.banners_container{
    max-width: 1440px;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 40px;
}
.banner_card{
    max-width: 387px;
    height: 331px;
    border-radius: 45px;
    border: 1px solid #191A23;
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #191A23;
}
.banner_1{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.banner_h4{
    font-size: 20px;
    font-weight: 500px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.banner_p{
    width: 148px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
}
.banner_linked_in{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    background-color: #191A23;
    color: #b9ff66;
    font-size: 20px;
    border-radius: 50%;
}
.banner_p1{
    max-width: 317;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
}
.see_section{
    position: relative;
}
.see_div{
    position: absolute;
    right: 330px;
    width: 269px;
    height: 68px;
    padding: 20px 35px;
    background-color: #191A23;
    border-radius: 14px;
    color: #f3f3f3;
    font-size: 20px;
    font-weight: 500;
    line-height: 28%;
    letter-spacing: 0%;
}