*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    width: 1440px;
}
.logo{
    display: flex;
    gap: 10;
.icon{
    width: 36px;
    height: 36px;
}
.icon_text{
    font-size: 38px;
    font-weight: 400;
}
}
.nav_item{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: #000000;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    li{
        list-style: none;
    }
}
    .nav_button{
        padding: 20px 35px;
        border: 1px solid #191A23;
        border-radius: 14px;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
    }
    /* hero section */
.hero_section{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 515px;
    padding: 100px 100px;
}
.left_div{
    display: flex;
    flex-direction: column;
    max-width: 531px;
    height: 481px;
    gap: 35px;
    h1{
        font-size: 60px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0%;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0%;
        line-height: 28px;
    }
    button{
        width: 264px;
        display: inline;
        padding: 20px 35px;
        font-size: 20px;
        border-radius: 14px;
        background-color: #191A23;
        color: white;
    }
}
/* logo-section */
.company_logo{
    margin-top: 60px;
    max-width: 1440px;
    padding: 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* service_section */
.service_container{
    display: flex;
    max-width: 1440px;
    padding: 100px 100px;
    gap: 40px;
    .service_logo{
        width: 178px;
        height: 51px;
        padding: 7px 7px;
        border-radius: 7px;
        background-color:#B9FF66;
        font-size: 40px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0%;
        color: black;
    }
    .service_message{
        width: 580px;
        height: 46px;
        line-height: 100%;
        letter-spacing: 0%;
        font-size: 18px;
        font-weight: 400;
    }
}
/* card section */
.card{
    width: 600;
    height: 310px;
    border-radius: 45px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #F3F3F3;

}
.card_conatiner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    max-width: 1440px;
    height: 310px;
    padding:  100px 100px;
    gap: 40px;
    
}
.left_card{
    width: 221px;
    height: 38px;
    padding: 7px 7px;
    border-radius: 7px;
    h3{
        background-color: #B9FF66;
        font-size: 30px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0%
    }
    .arrow{
        display: flex;
        gap: 93px;
        width: 164px;
        height: 41px;
        gap: 15px;
        align-items: center;
        
    }
        .arrow_logo{
            color: #B9FF66;
          width: 41px;
        height: 41px;
        border-radius: 50%;
        background-color: black;

        }
    }
